.form {
  width: 400px;
  background-color: #fff;
  padding: 30px;
}
h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

.input {
  padding: 10px 15px;
  border: 1px solid rgb(216, 216, 216);
  background-color: rgb(216, 216, 216);
  margin-top: 15px;
  width: 100%;
}

.inputError {
  composes: input;
  border: 1px solid rgb(233, 0, 0);
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgb(216, 216, 216);
  background-color: rgb(216, 216, 216);
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
}

.checkbox {
  margin-right: 5px;
}

.checkboxWrap {
  margin-top: 5px;
}

.error {
  color: red;
}
